:root {
	--preloader-white: #131313;
	--preloader-black: #FFFFFF;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--preloader-white);
	background-image: url(../src/assets/bg-texture.png); /* Ruta de tu imagen */
	z-index: 99;

	/* Elimina la cuadrícula, ya que ahora usaremos una imagen */
	&:before {
		content: '';
		display: none; /* Remueve el pseudo-elemento */
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(19,19,19, 1) 0%, rgba(19,19,19, 0) 100%);
		z-index: 3;
	}

	.preloader__wrapper {
		position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
		z-index: 4;
    }

    .preloader__counter {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

	.preloader__mask {
        position: relative;
        width: 90px;
        height: 130px;
        text-align: center;
        overflow: hidden;
    }

	.preloader__number {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 130px;
        font-weight: 900;
        line-height: 1;
        color: var(--preloader-black);
        transform: translateY(0px);
    }
}