.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.portfolio__item-image {
    /* border-radius: 1.5rem; */
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/*=============== MEDIA QUERIES ===============*/

/*========== Medium devices ==========*/
@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

/*========== Small devices ==========*/
@media screen and (max-width:600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}


.portfolio__item-cta svg {
    margin: 0 0.4rem;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.portfolio__item-cta .btn:hover svg {
    margin: 0 0.3rem;
    opacity: 1;
    transform: translateX(0%);
    transform: scale(105%);
}

.portfolio__item-cta:hover a {
    transform: scale(105%);
}


.portfolio__container article:hover .portfolio__item-image img {
    border: 1px solid white;
}

.portfolio__container article .portfolio__item-image img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}