.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
}

.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background: var(--color-bg-variant);
    min-height: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-user-select: none;
    user-select: none;
}

.client__review{
    color: var(--color-light);
    font-weight: 300;
    width: 80%;
    display: block;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
background: var(--color-primary);
}

/*=============== MEDIA QUERIES ===============*/

/*========== Medium devices ==========*/
@media screen and (max-width:1024px) {
    .container.testimonials__container{
        width: 60%;
    }
    
}

/*========== Small devices ==========*/
@media screen and (max-width:600px) {
    .container.testimonials__container{
        width: var(--container-width-sm);
    }

    .client__review{
        width: var(--container-width-sm);
    }
}

.swiper-slide{
    height: auto !important;
}


.swiper{
    height: 100%;
}


.swiper-content{
    height: 100% !important
}


.client__name-link{
    display: inline-block;
}


.client__name-link svg {
    margin: 0 0.4rem;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.client__name-link:hover svg {
    margin: 0 0.6rem;
    opacity: 1;
    transform: translateX(0%);
    transform: scale(105%);
}

.client__name-link:hover a {
    transform: scale(105%);
}