/* ========== FUENTES LOCALES ========== */
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }






/*========== VARIABLE CSS ==========*/
:root {
    /*========== Colors ==========*/
    --color-bg: #131313;
    --color-bg-variant: #ffffff33;
    --color-primary: #d9d9d9;
    --color-primary-variant: #242424;
    --color-white: rgb(255, 255, 255);
    --color-light: #d9d9d9;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.5rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Screen Size ==========*/
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    /*========== Transition ==========*/
    --transition: all 400ms ease;
}

/*========== BASE ==========*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
}


span {
    font-family: var(--body-font);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--font-medium);
}

h1 {
    font-size: var(--h1-font-size);
}

section {
    margin-top: 8rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text__light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}


.btn {
    min-width: 9rem;
    min-height: 3rem;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: var(--color-primary);
}

.btn::after {
    content: attr(data-hover-text);
    display: block;
    position: absolute;
    text-align: center;
    font-family: var(--body-font);
    transform: translate(-50%, 50%);
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
}

.btn:hover span {
    opacity: 0;
    transform: translate(-50%, -150%);
    transition-duration: 0.2s;
}

.btn:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}


.btn-primary span {
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
    display: none;
}

/*=============== MEDIA QUERIES ===============*/

/*========== Medium devices ==========*/
@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/*========== Small devices ==========*/
@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
a::selection,
span::selection {
    background: #ccbaa7;
    color: var(--color-bg);
}